 @font-face{
    font-family: titulo;
    src: url(../../includes/tipo/Sweet\ Hipster.ttf);
}
@font-face {
    font-family: market;
    src: url(../../includes/tipo/ChelseaMarket-Regular.ttf);
}

.col-md-11{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerNav{
    display: flex;
    justify-content: flex-start;
    align-items: end;
}
.bannerNav img{
    width: 15%;
    height: fit-content;
}
.inicioSesion{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}
.inicioSesion a{
   color: #000000;
}
.inicioSesion img{
    width: 10%;
    height: fit-content;
}

h1{
font-family:titulo;
font-size: 100px;
}
p{
    font-family: market;
}
h5{
    font-family: market; 
}
.footer{
    background-color: #343a40 ;
    color: white;
    display: flex;
} 
.footer ul{
    list-style: none;

}
.row{
    margin: 5%;
}


@media (max-width: 768px){

    h1{
        display: none;
    }
    .col-md-11{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .bannerNav{
        width: 70%;
    }
    .bannerNav img {
        width: 20%;
    }
    .inicioSesion{
        display: flex;
        align-items: center;
    }
    .inicioSesion a{
        color: #000000;
    }
    .card-body{
        background-color: #000000;
        color: #ffffff;
    }
}
