@font-face{
    font-family: titulo;
    src: url(../../includes/tipo/Sweet\ Hipster.ttf);
}

h1{
    font-family:titulo;
    font-size: 100px;
    }
    
    #inicio{
    color : black;
    }
    
    .barra{
        background-color: #000000;
        font-size: large;
        display: flex;
        justify-content: space-around;
    }
    .row{
        border: 1px solid slateblue;
        margin-bottom: 2%;
    }
    .introduccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #vistas{
        color: white;
    }

    #banner{
        background-color: black;
        color: white;
    }