@font-face{
    font-family: titulo;
    src: url(../../includes/tipo/Sweet\ Hipster.ttf)
}
h1{
font-family:titulo;
font-size: 100px;
}

#inicio{
color : black;
}

#barra{
    background-color: blue;
    height: 45px;
}

#vistas{
    color: white;
}

#banner{
    background-color: black;
    color: white;
}

#usuario{
    width: 200px;
    border-style: solid;
    border-radius: 5px;
}

#contrasena{
    border-style: solid;
    border-radius: 5px;
}

