@font-face{
    font-family: titulo;
    src: url(../../includes/tipo/Sweet\ Hipster.ttf)
}
h1{
font-family:titulo;
font-size: 100px;
}
.col-md-11{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerNav{
    display: flex;
    justify-content: flex-start;
    align-items: end;
}
.bannerNav img{
    width: 15%;
    height: fit-content;
}
.inicioSesion{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}
.inicioSesion a{
   color: #000000;
}
.inicioSesion img{
    width: 10%;
    height: fit-content;
}

#vistas{
    color: white;
}

#banner{
    background-color: black;
    color: white;
}

#usuario{
    width: 200px;
    border-style: solid;
    border-radius: 5px;
}

#contrasena{
    border-style: solid;
    border-radius: 5px;
}

